@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 40px;
}
.orange-color {
    color: #FFA500;
}

.lorem-text {
    font-size: 15px;
}
.hire-me {
    background-color: #FF926E;
    color: #ffff;
    border: none;
    height: 50px;
    width: 140px;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.section-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.sec-1 {
    width: 450px;
    margin-top: 20px;
}
.sec-2 {}
.sec-2 img {
    height: 430px;
    width: 450px;
    }

    .section-2 {
        display: flex;
       align-items: center;
       justify-content: space-between;
       margin-top: 40px;
      
    }
    .sec-3 {}
    .sec-3 img {
        height: 450px;
        width: 470px;
    }
    .sec-4 {
        width: 480px;
        background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
    }
    .sec-4 a {
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        background-color: #FF6B4E;
        color: #fff;
        padding: 10px 20px;
        border-radius: 7px;
    }
    .section-3 {
        background-image: url(images/exp-bg.png);
      background-repeat: no-repeat;
      background-position: left;
      margin-bottom: 30px;

    }
    .fahad {
        display: flex;
       align-items: center;
       justify-content: space-around;
    
       
    }
    .exc-1 {
        border-left: 8px solid #FF6347;
        height: 350px;
        width: 400px;
        
        box-shadow: 10px 10px 40px gray;
        border-radius: 3px;
        z-index: 2;
    }
    .exc-2 {
        border-left: 8px solid #0000FF;
        height: 350px;
        width: 400px;
       
        box-shadow: 10px 10px 40px  gray;
        border-radius: 3px;
    }
    .text1 {
        margin-left: 10px;
        font-size: 27px;
    }
    .text {
        margin-left: 10px;
    }
    .fd-cl {
        color: #FFA500;
    }
    .footer p {
        text-align: center;
        margin-top: 40px;
    }